<!doctype html>
<html>
<head>
  <title>EasyLuggage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index_tmpl.css') }}">
</head>
<body>

  <h1>Luggage Management Client</h1>
  <hr>

  <h2>{{luggage_data.data.attributes.name}}</h2>

  <p>ID: {{luggage_data.data.id}} | Name: {{luggage_data.data.attributes.name}} | Address: {{luggage_data.data.attributes.address}}</p>

  <hr>

  <h3>Box</h3>
  <p>Id: {{box_data.data.id}} | Size: {{box_data.data.attributes.size}} | isOpen: {% if box_data.data.attributes.isOpen == 1 %}"Yes"{% else %}"No"{% endif %}</p>

  <hr>

  <form action="/luggages/{{luggage_data.data.id}}/delete_box/{{box_data.data.id}}" METHOD="POST">
    <input type="submit" value="Remove Box">
  </form>

  <hr>

  <a href="/luggages/{{luggage_data.data.id}}">
     <input type="button" value="Back to {{luggage_data.data.attributes.name}}" />
  </a>

</body>
</html>